@model IEnumerable<actividadcomplementaria.Models.area>

@{
    ViewData["Title"] = "Index";
}

<h2>Inicio</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_area)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_area)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_area">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_area">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_area">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
